parameters:
    level: 9
    paths:
        - src
    doctrine:
        ormRepositoryClass: MRF\Vending\Infrastructure\Persistence\Doctrine\DoctrineEventStore
        objectManagerLoader: object-manager.php
